* {
    box-sizing: border-box; /* границы и внутренние отступы учитываются */
}

html {
    scroll-behavior: smooth; /* плавная прокрутка */
}
@font-face {
    font-family: Roboto;
     src: url("assets/fonts/Roboto.ttf");
   }

body {
    display: flex; /*сделали флекс-контейнер*/
    min-height: 100vh;
    flex-direction: column; /*расположили ось вертикально*/
    justify-content: space-between; /*выровняли по вертикали*/
    font-family: 'Quicksand', sans-serif; /*задали стиль шрифта*/
    margin: 0; /*внешние отступы 0*/
    padding: 0; /*внутренние отступы 0*/
}